
/***********************************************/

body, h1, h2, h3, h4, h5, h6 {
	/*font-family: Roboto, sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Magra', sans-serif;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*text-shadow: none;*/
}

/***********************************************/

#slider_indentation .slider-selection {
	background: #BABABA;
}
#slider_progress_script .slider-selection {
	background: #f89406;
}
#slider_progress_pre .slider-selection {
	background: #62c462;
}
#slider_progress_shot .slider-selection {
	background: #ee5f5b;
}
#slider_progress_post .slider-selection {
	background: #5bc0de;
}
.slider-handle {
	background: #888;
}

/***********************************************/

@media (min-width: 768px) {
    #app_container {
        position:fixed; 
    }

    .full-height {
        height:100%;
    }
}

.textinput {
    max-width: 100%;
    min-width: 10em;
    width: 20em;
}

.textarea {
    max-width: 100%;
    min-width: 100%;
}

.chosen-select-single {
    text-shadow: none;
}

.chosen-select-multi {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height:48px;
}

.chosen-container {
    max-width: 100%;
    width: 100%;
    min-height: 48px;
    text-shadow: none;
}

.checkbox-tags {
    padding: 0; 
    margin: -12px;
}

.checkbox-tags-group {
    margin-top:0px; 
    padding-left:20px;
}


.progress {
	background-color: #CCC;

}


.list-group {
}

a.list-group-item {
    background-color: #EEE;
    color: #3e444c;
    padding: 8px;
    border: 1px solid #CCC;
}

a.list-group-item:hover {
    background-color: #FFF;
    color: #3e444c;
}

a.list-group-item.active {
    background-color: #666;
    color: #FFF;
    /*border: 3px solid #F80;*/
}

input[type="checkbox"] {
    margin: 0;
    padding: 4px;
    
}

.list-group-item.active {
    color: #777;
}

.x-back,
.a.x-back {
    background-color: hsl(30, 0%, 15%);
    margin: 0;
    padding: 16px;
    height:100%; 
    width:100%;
}

.x-item-form {
    background-color: #666;
    /*color: hsl(30, 15%, 10%);*/
    /*margin-right: 16px; 
    margin-left: 16px; */
    padding: 16px; 
    border-radius: 4px;
}



/***********************************************/

.x-script.x-back {
    background-color: #222;
}

a.x-script.list-group-item {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 30%);
    padding: 8px;
    border: 1px solid #000;
}
a.x-script.list-group-item:hover {
    background-color: #FFF;
    color: hsl(0, 0%, 35%);
    border: 1px solid #F80;
}
a.x-script.list-group-item.active {
    /*background-color: #666;
    color: hsl(0, 0%, 80%);*/
    border: 3px solid #F80;
}


.panel-default > .x-script.panel-heading {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
}
.panel-default:hover > .x-script.panel-heading {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 15%);
}
.panel-default.active > .x-script.panel-heading {
    /*background-color: #888;
    color: hsl(0, 0%, 90%);*/
}

.x-script.x-item-form {
    background-color: #444;

}
.x-script.x-toolbar {
    background-image: linear-gradient(#3e444c, #444);
}



/***********************************************/

.x-scene.x-back {
    background-color: #333;
}

a.x-sceneitem.list-group-item {
    background-color: #FFF;
    color: #000;
    padding: 4px;
    border: 1px solid #FFF;
    margin-bottom: 0px;
}
a.x-sceneitem.list-group-item:hover {
    color: #000;
    border:1px solid #F80;
}
a.x-sceneitem.list-group-item.active {
    /*background-color: #666;
    color: hsl(0, 0%, 80%);*/
    border: 3px solid #F80;
}

a.x-sceneitem.list-group-item.active:hover {
    background-color: #F8F8F8;
}


.panel-default > .x-sceneitem.panel-heading {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
}
.panel-default:hover > .x-sceneitem.panel-heading {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 15%);
}
.panel-default.active > .x-sceneitem.panel-heading {
    /*background-color: #888;
    color: hsl(0, 0%, 90%);*/
}

.x-sceneitem.x-item-form {
    background-color: #555;

}
.x-sceneitem.x-toolbar {
    background-image: linear-gradient(#3e444c, #555);
}


/***********************************************/

.x-role.x-back {
    background-color: #444;
}

a.x-role.list-group-item {
    background-color: #FFF;
    color: #000;
    padding: 4px;
    border: 1px solid #EEE;
    margin-bottom: 0px;
}
a.x-role.list-group-item:hover {
    color: #000;
    border:1px solid #F80;
}
a.x-role.list-group-item.active {
    /*background-color: #666;
    color: hsl(0, 0%, 80%);*/
    border: 3px solid #F80;
}

a.x-role.list-group-item.active:hover {
    background-color: #F8F8F8;
}


.panel-default > .x-role.panel-heading {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
}
.panel-default:hover > .x-role.panel-heading {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 15%);
}
.panel-default.active > .x-role.panel-heading {
    /*background-color: #888;
    color: hsl(0, 0%, 90%);*/
}

.x-role.x-item-form {
    background-color: #666;

}
.x-role.x-toolbar {
    background-image: linear-gradient(#3e444c, #666);
}


/***********************************************/
/*
.x-role.x-back,
.x-role.a.x-back {
    background-color: hsl(40, 15%, 15%);
    margin: 0;
    padding: 16px;
}

.x-role.nav-tabs > li.active > a {
    background-color: hsl(40, 30%, 90%) !important;
    color: hsl(40, 15%, 10%);
}

a.x-role.list-group-item {
    background-color: hsl(40, 30%, 90%);
    color: hsl(40, 15%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-role.list-group-item:hover {
    background-color: hsl(40, 30%, 95%);
}

a.x-role.list-group-item.active, 
.x-role.x-item-form {
    background-color: hsl(40, 15%, 25%);
    color: hsl(40, 30%, 90%);
    border: 1px solid hsl(40, 15%, 5%);
}

a.x-role.list-group-item.active:hover {
    background-color: hsl(40, 15%, 30%);
}

.x-role.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(40, 15%, 25%));
}
*/
/***********************************************/

.x-person.x-back,
.x-person.a.x-back {
    background-color: hsl(40, 15%, 15%);
    margin: 0;
    padding: 16px;
}

.x-person.nav-tabs > li.active > a {
    background-color: hsl(40, 30%, 90%) !important;
    color: hsl(40, 15%, 10%);
}

a.x-person.list-group-item {
    background-color: hsl(40, 30%, 90%);
    color: hsl(40, 15%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-person.list-group-item:hover {
    background-color: hsl(40, 30%, 95%);
}

a.x-person.list-group-item.active, 
.x-person.x-item-form {
    background-color: hsl(40, 15%, 25%);
    color: hsl(40, 30%, 90%);
    border: 1px solid hsl(40, 15%, 5%);
}

a.x-person.list-group-item.active:hover {
    background-color: hsl(40, 15%, 30%);
}
/*3e444c*/
.x-person.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(40, 15%, 25%));
}

/***********************************************/

.x-time.x-back,
.x-time.a.x-back {
    background-color: hsl(220, 11%, 15%);
    margin: 0;
    padding: 16px;
}

.x-time.nav-tabs > li.active > a {
    background-color: hsl(220, 30%, 90%) !important;
    color: hsl(220, 11%, 10%);
}

a.x-time.list-group-item {
    background-color: hsl(220, 30%, 90%);
    color: hsl(220, 11%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-time.list-group-item:hover {
    background-color: hsl(220, 30%, 95%);
}

a.x-time.list-group-item.active, 
.x-time.x-item-form {
    background-color: hsl(220, 11%, 25%);
    color: hsl(220, 30%, 90%);
    border: 1px solid hsl(220, 11%, 5%);
}

a.x-time.list-group-item.active:hover {
    background-color: hsl(220, 11%, 30%);
}
/*3e444c*/
.x-time.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(220, 11%, 25%));
}

/***********************************************/

.x-location.x-back,
.x-location.a.x-back {
    background-color: hsl(90, 11%, 15%);
    margin: 0;
    padding: 16px;
}

.x-location.nav-tabs > li.active > a {
    background-color: hsl(90, 30%, 90%) !important;
    color: hsl(90, 11%, 10%);
}

a.x-location.list-group-item {
    background-color: hsl(90, 30%, 90%);
    color: hsl(90, 11%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-location.list-group-item:hover {
    background-color: hsl(90, 30%, 95%);
}

a.x-location.list-group-item.active, 
.x-location.x-item-form {
    background-color: hsl(90, 11%, 25%);
    color: hsl(90, 30%, 90%);
    border: 1px solid hsl(90, 11%, 5%);
}

a.x-location.list-group-item.active:hover {
    background-color: hsl(90, 11%, 30%);
}
/*3e444c*/
.x-location.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(90, 11%, 25%));
}

/***********************************************/

.x-gadget.x-back,
.x-gadget.a.x-back {
    background-color: hsl(30, 15%, 15%);
    margin: 0;
    padding: 16px;
}

.x-gadget.nav-tabs > li.active > a {
    background-color: hsl(30, 30%, 90%) !important;
    color: hsl(30, 15%, 10%);
}

a.x-gadget.list-group-item {
    background-color: hsl(30, 30%, 90%);
    color: hsl(30, 15%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-gadget.list-group-item:hover {
    background-color: hsl(30, 30%, 95%);
}

a.x-gadget.list-group-item.active, 
.x-gadget.x-item-form {
    background-color: hsl(30, 15%, 25%);
    color: hsl(30, 30%, 90%);
    border: 1px solid hsl(30, 15%, 5%);
}

a.x-gadget.list-group-item.active:hover {
    background-color: hsl(30, 15%, 30%);
}
/*3e444c*/
.x-gadget.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(30, 15%, 25%));
}

/***********************************************/

.x-sfx.x-back,
.x-sfx.a.x-back {
    background-color: hsl(195, 15%, 15%);
    margin: 0;
    padding: 16px;
}

.x-sfx.nav-tabs > li.active > a {
    background-color: hsl(195, 30%, 90%) !important;
    color: hsl(195, 15%, 10%);
}

a.x-sfx.list-group-item {
    background-color: hsl(195, 30%, 90%);
    color: hsl(195, 15%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-sfx.list-group-item:hover {
    background-color: hsl(195, 30%, 95%);
}

a.x-sfx.list-group-item.active, 
.x-sfx.x-item-form {
    background-color: hsl(195, 15%, 25%);
    color: hsl(195, 30%, 90%);
    border: 1px solid hsl(195, 15%, 5%);
}

a.x-sfx.list-group-item.active:hover {
    background-color: hsl(195, 15%, 30%);
}
/*3e444c*/
.x-sfx.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(195, 15%, 25%));
}

/***********************************************/

.x-audio.x-back,
.x-audio.a.x-back {
    background-color: hsl(300, 8%, 15%);
    margin: 0;
    padding: 16px;
}

.x-audio.nav-tabs > li.active > a {
    background-color: hsl(300, 30%, 90%) !important;
    color: hsl(300, 15%, 10%);
}

a.x-audio.list-group-item {
    background-color: hsl(300, 30%, 90%);
    color: hsl(300, 8%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-audio.list-group-item:hover {
    background-color: hsl(300, 30%, 95%);
}

a.x-audio.list-group-item.active, 
.x-audio.x-item-form {
    background-color: hsl(300, 8%, 25%);
    color: hsl(300, 30%, 90%);
    border: 1px solid hsl(300, 8%, 5%);
}

a.x-audio.list-group-item.active:hover {
    background-color: hsl(300, 8%, 30%);
}
/*3e444c*/
.x-audio.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(300, 8%, 25%));
}

