{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lorem Ipsum" />
    <meta name="author" content="JK" />
    <meta name="copyright" content="share alike" />

    <title>{{ title }} - ScriptumX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>

    {% block head %}{% endblock %}

<script type="text/javascript" >
    $(document).ready(function () {
        $(window).on('resize', do_resize );

        function do_resize () {
            var $window = $(this), //this = window
                height = Math.ceil($window.height()),
                previousHeight = $window.data('previousHeight');

            if (height !== previousHeight) {
                $("#app_container").css('height', height - 150);
                $window.data('previousHeight', height);
            }
        };

        do_resize();
        document.getElementById("active_scope").scrollIntoView();
    });
</script>

</head>

<body style="overflow:auto; padding-top:120px">

    <div class="navbar navbar-default navbar-fixed-top" style="margin:0">

        <div style="padding:0; margin:0; background-color:#232628" class="container-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
                <a style="padding:8px;  margin:0px" class="navbar-text" href="/"><img height="16" width="16" src="{% static 'app/img/ScriptumX32.png' %}" /></a>
            </div>
            <div style="padding:0px" class="navbar-collapse collapse">
                <ul class="nav nav-tabs" role="tablist" style="padding-bottom:0; margin:0;">

                    {% for tab in tab_list %}
                    {%if tab.id == tab_active_id %} 
                            <li class="active">
                            <a class="{{tab.class}}" href="{{tab.href}}"><img src="{% static tab.img %}"> {{tab.name}}</a>
                            </li>
                        {% else %}
                            <li>
                            <a href="{{tab.href}}"><img src="{% static tab.img %}"> {{tab.name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->

        {% block toolbar %}{% endblock %}

    </div>

    <div id="app_container" style="margin:0; padding:0;" class="container-fluid body-content">

        {% if error_message %}
            <p class="text-danger">aaa{{error_message}}</p>
        {% endif %}

        {% block content %}{% endblock %}
    
    </div>

    <footer style="height:10px;">
        &copy; {{ datetime }} - LoremIpsum
    </footer>
    
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
