<ul class="nav navbar-nav navbar-right">
    <li><a href="/admin">Admin</a></li>
</ul>

{% if user.is_authenticated %}

<form id="logoutForm" action="/logout" method="post" >
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="nav navbar-text">User: {{ user.username }}</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}

