{% extends "app/layout_app.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{############################################################################}}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-slider.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/x.css' %}" media="all" />
<script src="{% static 'app/scripts/bootstrap-slider.js' %}"></script>

{% endblock %}

{############################################################################}}

{% block content %}

<div class="container-fluid x-back" style="height:100%; width:100%;">

	<div id="abc" class="row" style="height:100%;">

	  <div class="col-xs-6" style="height:100%;" >
		<div class="list-group" style="height:100%; overflow-y:auto">

    		{% for scene in scenes %}
			    
                <a href="/script/{{scene.pk}}" style="padding:0; margin-bottom:8px; margin-left:{{scene.indentation}}%; width:60%;"
                   {% if scene.id == active_id %} 
                    class="x-scene list-group-item panel panel-default active" id="active_scope"
                   {% else %}
                    class="x-scene list-group-item panel panel-default"
                   {% endif %}
                   >



                    <div style="margin:0; padding:4px" class="panel-heading">
                        {% if scene.note %}
                            <img style="" height="16" width="16" src="{% static 'app/img/notes.png' %}" />
                        {% endif %}

                        <strong>{{scene.name}}</strong>
                        <div class="pull-right"><span class="badge">14</span></div>
                    </div>

                    <div style="margin:0; padding:4px" class="panel-body">
                        {% if scene.progress_script > 0 or scene.progress_pre > 0 or scene.progress_shot > 0 or scene.progress_post > 0 %}
                        <div class="pull-right">
                            <div style="width:48px; height:8px; margin-bottom: 4px;" class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{scene.progress_script}}%"></div>
                            </div>
                            <div style="width:48px; height:8px; margin-bottom: 4px;" class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{scene.progress_pre}}%"></div>
                            </div>
                            <div style="width:48px; height:8px; margin-bottom: 4px;" class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{scene.progress_shot}}%"></div>
                            </div>
                            <div style="width:48px; height:8px; margin-bottom: 4px;" class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{scene.progress_post}}%"></div>
                            </div>
                        </div>
                        {% endif %}
                        <small>{{scene.description}}</small>

                    </div>
                        
                </a>
        

	    	{% endfor %}

		</div>

	  </div>

	  <div class="col-xs-6" style="height:100%; overflow-y:auto; padding:0">
	  <div class="x-item-form" style="">

		  {% if active_scene %}


          <form class="form-horizontal" method="post">

            {% if active_scene.note %}
                <div class="pull-left" style="max-width:12%;">
                    <img src="{% static 'app/img/note.png' %}" /><br/>
                    <small>{{ active_scene.note.author }}<br/>
                    {{ active_scene.note.created|date:"Y-m-d H:i" }}</small>
                </div>
                {% crispy formNote formNote.helper %}
                <hr/>
            {% endif %}

			   <div class="pull-left">
                <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                <img height="32" width="32" src="{% static 'app/img/save.png' %}" /><br />Save
                </button  >

                {% if not active_scene.note %}
                <button style="padding:4px;" type="submit" name="btn_note" value="x" class="btn btn-default btn-xs" formmethod="post">
                <img height="32" width="32" src="{% static 'app/img/note.png' %}" /><br /><small>Note</small>
                </button  >
                {% endif %}
			   </div>
                
              <div class="pull-right">
                <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                <img height="32" width="32" src="{% static 'app/img/reset.png' %}" /><br /><small>Reset</small>
                </button  >

                  <!--
                <button style="padding:4px;" type="submit" name="delete" value="del" class="btn btn-danger btn-xs" formmethod="post">
                <img height="32" width="32" src="{% static 'app/img/delete.png' %}" /><br /><small>Delete</small>
                </button  >
                -->


				<div class="btn-group" role="group">
					<button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                <img height="32" width="32" src="{% static 'app/img/delete.png' %}" /><br />
						<small>Delete</small>
						<!--<span class="caret"></span>-->
					</button>
					<ul class="dropdown-menu pull-right" style="margin-left:-100px;">
						<li><center>Sure</center></li>
						<li><center>to</center></li>
						<li><center>delete?</center></li>
						<li role="separator" class="divider"></li>
						<li><center>
                            <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                            <img height="16" width="16" src="{% static 'app/img/delete.png' %}" /> Delete!
                            </button  >
                        </center></li>
					</ul>
				</div>

			   </div>


            {% crispy form form.helper %}
         
          </form>

          

 
          {% else %}

          Scenes: {{ sceness.count }}
		  <br />

          {% endif %}
          </div>
	  </div>

	</div> <!--row-->

</div>

{% endblock %}

{############################################################################}}

{% block toolbar %}
{% load staticfiles %}

		<div class="nav container-fixed-top" style="background-color:#3e444c; margin-top:0">

			<div class="nav navbar-header">
				<a style="margin:4px; padding:0;" class="navbar-text" href="/script">
					<img src="{% static 'app/img/Tab/Script-64.png' %}" />
				</a>
			</div>

			<div class="btn-group-vertical" role="group" style="margin-left:16px">
				<a href="/script/tag/all" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'app/img/Tab/Common/SelectAll.png' %}" /></a>
				<a href="/script/tag/none" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'app/img/Tab/Common/SelectNone.png' %}" /></a>
			</div>

			<div class="btn-group btn-group-xs" role="group" style="margin-left:4px">

				
                {% for tag in tag_list %}
				<a href="/script/tag/{{tag.idx}}" 
                   role="button" 
                   
                   {% if tag.active %}
                        class="btn btn-primary navbar-btn" style="padding:4px" 
                   {% else %}
                        class="btn btn-default navbar-btn" style="padding:4px;"   <!-- color:GrayText-->
                   {% endif %}
                   >
                <img src="{% static tag.img %}" />
                <br />
                <font size="1">{{tag.name}}</font></a>
				{% endfor %}

                
				
			</div>
            <div class="btn-group btn-group-xs" role="group" style="margin-left:32px">

                <a href="/script/0" 
                   role="button" 
                   class="btn btn-default navbar-btn" style="padding:4px" 
                   >
                <img height="32" width="32" src="{% static 'app/img/files.png' %}" />
                <br />
                <small>New</small></a>

            </div>

            <vr/>
			<!--<div class="btn-group btn-group-xs" role="group"/>-->


		</div>
{% endblock %}

{############################################################################}}
