<div class="form-group">
	<label for="slider_progress_pre" class="col-sm-2 control-label">Progress Pre</label>
	<div class="col-sm-10">
		<input type="number" class="form-control" id="slider_progress_pre" name="progress_pre" placeholder="Lorem" value="{{form.progress_pre.value}}" 
            data-provide="slider"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="1"
            data-slider-value="{{form.progress_pre.value}}"
            {#data-slider-tooltip="hide"#}
            >
	</div>
</div>