<div class="form-group">
	<label for="inputName" class="col-sm-2 control-label">tmpl-Progress</label>
	<div class="col-sm-10">
		<input type="number" class="form-control" id="inputName" name="progress" placeholder="Lorem" value="{{form.progress.value}}" 
            data-provide="slider"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="1"
            data-slider-value="{{form.progress.value}}"
            {#data-slider-tooltip="hide"#}
            >
	</div>
</div>