Django==1.9.5
django-colorfield==0.1.10
django-colorful==1.1.0
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-registration-redux==1.4
django-wkhtmltopdf==3.0.0
fanstatic==0.16
html5lib==0.9999999
js.bootstrap-slider==4.8.1
js.jquery==1.9.1
Pillow==3.2.0
PyPDF2==1.25.1
pytz==2016.3
reportlab==3.3.0
six==1.10.0
sqlparse==0.1.19
xhtml2pdf==0.0.6
