
.jk {
  data-provide: 'slider';
  data-slider-min: 0;
  data-slider-max: 100;
  data-slider-step: 1;
  background: red;
  class: slider;
}


#slider_indentation .slider-selection {
	background: #BABABA;
}
#slider_progress_script .slider-selection {
	background: #f89406;
}
#slider_progress_pre .slider-selection {
	background: #62c462;
}
#slider_progress_shot .slider-selection {
	background: #ee5f5b;
}
#slider_progress_post .slider-selection {
	background: #5bc0de;
}
.slider-handle {
	background: #888;
}


.progress {
	background-color: #CCC;

}



a.list-group-item {
    background-color: #EEE;
    color: #3e444c;
    padding: 8px;
    border: 1px solid #CCC;
}

a.list-group-item:hover {
    background-color: #FFF;
    color: #3e444c;
}

input[type="checkbox"] {
    margin: 0;
    padding: 4px;
    
}

.list-group-item.active {
    color: #3e444c;
}

.x-back,
.a.x-back {
    background-color: hsl(30, 15%, 15%);
    margin: 0;
    padding: 16px;
}

.x-item-form {
    background-color: #525860;
    /*color: hsl(30, 15%, 10%);*/
    margin-right: 16px; 
    padding: 16px; 
    border-radius: 4px;
}

.x-gadget.nav-tabs > li.active > a {
    background-color: hsl(30, 30%, 90%) !important;
    color: hsl(30, 15%, 10%);
}



.x-script.x-back {
    background-color: #222;
}

a.x-script.list-group-item {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 30%);
    padding: 8px;
    border: 1px solid #000;
}
a.x-script.list-group-item:hover {
    background-color: #FFF;
    color: hsl(0, 0%, 35%);
    border: 1px solid #F80;
}
a.x-script.list-group-item.active {
    /*background-color: #666;
    color: hsl(0, 0%, 80%);*/
    border: 3px solid #F80;
}


.panel-default > .x-script.panel-heading {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
}
.panel-default:hover > .x-script.panel-heading {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 15%);
}
.panel-default.active > .x-script.panel-heading {
    /*background-color: #888;
    color: hsl(0, 0%, 90%);*/
}

.x-script.x-item-form {
    background-color: #444;

}
.x-script.x-toolbar {
    background-image: linear-gradient(#3e444c, #444);
}



a.x-gadget.list-group-item {
    background-color: hsl(30, 30%, 90%);
    color: hsl(30, 15%, 10%);
    padding: 8px;
    border: 1px solid #CCC;
}

a.x-gadget.list-group-item:hover {
    background-color: hsl(30, 30%, 95%);
}

a.x-gadget.list-group-item.active, 
.x-gadget.x-item-form {
    background-color: hsl(30, 15%, 25%);
    color: hsl(30, 30%, 90%);
    border: 1px solid hsl(30, 15%, 5%);
}

a.x-gadget.list-group-item.active:hover {
    background-color: hsl(30, 15%, 30%);
}
/*3e444c*/
.x-gadget.x-toolbar {
    background-image: linear-gradient(#3e444c, hsl(30, 15%, 25%));
}