<ul class="nav navbar-nav navbar-right">
    <li><a href="/admin">Admin</a></li>
</ul>

{% if user.is_authenticated %}

<form id="logoutForm" action="/logout" method="post" >
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="nav navbar-text">User: {{ user.username }}</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}
<form action="/login/" method="post" >
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
<li class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <input class="form-control" type="text" name="username" placeholder="Email address">
</li>
<li class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <input class="form-control" type="password" name="password" placeholder="Password">
</li>

    <li class="btn-group">
  <button class="btn btn-primary" type="submit"><i class="fa fa-user fa-fw"></i> User</button>
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</li>

         </ul>
</form>

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}

