{% extends "X/layout_X.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{############################################################################}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'X/css/bootstrap-slider.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'X/css/x.css' %}" media="all" />
<script src="{% static 'X/scripts/bootstrap-slider.js' %}"></script>

{% endblock %}

{############################################################################}

{% block content %}

<div class="container-fluid x-back x-project" style="height:100%; width:100%; overflow-y:auto">

    <h3><i class="fa fa-film"></i> Projects</h3>

    {#--PROJECT--#}

    <div id="abc" class="row" style="margin-bottom:16px;">

        {#--left side list--#}
        <div class="col-xs-6 col-md-4" style="height:100%;" >
            <div class="list-group" style="height:100%; overflow-y:auto">

                {% for project in projects %}
			
                    <a style="padding:8px" href="/project/{{project.pk}}"
                        {% if project.id == selected_project_id %} 
                            class="x-project list-group-item active"
                        {% else %} 
                            class="x-project list-group-item"
                        {% endif %}
                        >

                        {#--name--#}
                        <strong style="margin-right:14px;">
                            {% if project == env.project %}<i class="fa fa-check-square"></i>{% endif %}
                            {{project.name}}
                        </strong>
                        <br/>

                    </a>

                {% endfor %}

            </div>
        </div>

        {#--right side details--#}
        <div class="col-xs-6 col-md-8" style="height:100%; overflow-y:auto; padding:0">
            <div class="x-project x-item-form">

                {% if selected_project %}


                    <form class="form-horizontal" method="post">

                        {#--buttons--#}
                        <div class="pull-left">
                        
                            <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/save.png' %}" /><br />Save
                            </button  >

                        </div>
                
                        <div class="pull-right">

                            <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/reset.png' %}" /><br /><small>Reset</small>
                            </button  >


                            <div class="btn-group" role="group">
                                <button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                                <img height="32" width="32" src="{% static 'img/delete.png' %}" /><br />
	                                <small>Delete</small>
	                                <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu pull-right" style="margin-left:-100px;">
	                                <li><center>Sure</center></li>
	                                <li><center>to</center></li>
	                                <li><center>delete?</center></li>
	                                <li role="separator" class="divider"></li>
	                                <li><center>
                                        <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                                        <img height="16" width="16" src="{% static 'img/delete.png' %}" /> Delete!
                                        </button  >
                                    </center></li>
                                </ul>
                            </div>

			            </div>

                        &emsp;<br/>&emsp;<br/>&emsp;<br/>

                        {#--model form content--#}
                        {% crispy form form.helper %}
         
                        <div class="row">
                            <div class="col-sm-2">Warning!</div>
                            <div class="col-sm-10">Lorem Ipsum</div>
                        </div>
                    </form>

                {% else %}

                    Projects: {{ projects.count }}
                    <br />

                {% endif %}
            </div>
        </div>

    </div> <!--row-->

    {#--SCRIPT--#}

    <hr/>
    <h3><i class="fa fa-book"></i> Scripts</h3>

    <div id="abc2" class="row" style="">

        {#--left side list--#}
        <div class="col-xs-6 col-md-4" style="height:100%;" >
            <div class="list-group" style="height:100%; overflow-y:auto">

                {% for script in scripts %}
			
                    <a style="padding:8px" href="/script/{{script.pk}}"
                        {% if script.id == selected_script_id %} 
                            class="x-script list-group-item active"
                        {% else %} 
                            class="x-script list-group-item"
                        {% endif %}
                        >

                        {#--name--#}
                        <strong style="margin-right:14px;">
                            {% if script == env.script %}<i class="fa fa-check-square"></i>{% endif %}
                            {{script.name}}
                        </strong>
                        <br/>

                        {#--abstract--#}
                        <small>{% autoescape off %}{{script.abstract|removetags:"a span"|truncatewords:42}}{% endautoescape %}</small>
                       
                    </a>

                {% endfor %}

            </div>
        </div>

        {#--right side details--#}
        <div class="col-xs-6 col-md-8" style="height:100%; overflow-y:auto; padding:0">
            <div class="x-script x-item-form">

                {% if selected_script %}


                    <form class="form-horizontal" method="post">

                        {#--buttons--#}
                        <div class="pull-left">
                        
                            <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/save.png' %}" /><br />Save
                            </button  >

                        </div>
                
                        <div class="pull-right">

                            <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/reset.png' %}" /><br /><small>Reset</small>
                            </button  >


                            <div class="btn-group" role="group">
                                <button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                                <img height="32" width="32" src="{% static 'img/delete.png' %}" /><br />
	                                <small>Delete</small>
	                                <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu pull-right" style="margin-left:-100px;">
	                                <li><center>Sure</center></li>
	                                <li><center>to</center></li>
	                                <li><center>delete?</center></li>
	                                <li role="separator" class="divider"></li>
	                                <li><center>
                                        <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                                        <img height="16" width="16" src="{% static 'img/delete.png' %}" /> Delete!
                                        </button  >
                                    </center></li>
                                </ul>
                            </div>

			            </div>

                        &emsp;<br/>&emsp;<br/>&emsp;<br/>

                        {#--model form content--#}
                        {% crispy form form.helper %}
         
                    </form>

                {% else %}

                    Scripts in selected Project: {{ scripts.count }}
                    <br />

                {% endif %}
            </div>
        </div>

    </div> <!--row-->

</div>

{% endblock %}

{############################################################################}

{% block toolbar %}
{% load staticfiles %}

<div class="nav container-fixed-top x-project x-toolbar" style="margin-top:0">

    <div class="nav navbar-header">
        <a style="margin:4px; padding:0;" class="navbar-text" href="/project">
            <img src="{% static 'img/tab/project-64.png' %}" />
        </a>
    </div>

    <div class="btn-group btn-group-xs" role="group" style="margin-left:4px">

				
        {% for tag in tag_list %}
            <a href="/project/tag/{{tag.idx}}" role="button" 
                   
                {% if tag.active %}
                    class="btn btn-primary navbar-btn" style="padding:4px" 
                {% else %}
                    class="btn btn-default navbar-btn" style="padding:4px;"
                {% endif %}
            >
            <img src="{% static tag.img %}" />
            <br />
            <font size="1">{{tag.name}}</font></a>
        {% endfor %}

                
				
	</div>

    {#--button new--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:32px">
        <a href="/project/0" role="button" 
            class="btn btn-default navbar-btn" style="padding:4px" 
            >
            <img height="32" width="32" src="{% static 'img/files.png' %}" />
            <br />
            <small>New Project</small>
        </a>
    </div>

    {#--button new--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:32px">
        <a href="/project/0/0" role="button" 
            class="btn btn-default navbar-btn" style="padding:4px" 
            >
            <img height="32" width="32" src="{% static 'img/files.png' %}" />
            <br />
            <small>New Script</small>
        </a>
    </div>

    <div class="btn-group btn-group-xs" role="group" style="">
        <a href="/project/0/0" role="button" 
            class="btn btn-default navbar-btn" style="padding:4px" 
            >
            <img height="32" width="32" src="{% static 'img/files.png' %}" />
            <br />
            <small>Import Script</small>
        </a>
    </div>

</div>
{% endblock %}

{############################################################################}
