{% extends "X/layout_X.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{############################################################################}

{% block ux_page %}scene{% endblock %}

{% block head %}

<script src="{% static 'X/scripts/editor-safety.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

    $('#sceneselect').on('change', function (evt, params) {
        // can now use params.selected and params.deselected
        window.location.href = "/scene/set/" + params.selected;
    });

    $("#sceneselect_chosen").css('width', '20%');
    //$("#sceneselect_chosen").width(200);

    ScriptumXEditorSafety.init({
        formSelector: '#scene-editor-form',
        statusSelector: '#editor-save-status',
        conflictSelector: '#editor-conflict-warning',
        autosaveUrl: '{{ autosave_url|escapejs }}',
        delayMs: 1500
    });

    });

function confirmSceneMove(offset) {
    if (!confirm('Move this scene item? You can undo afterwards.')) {
        return false;
    }
    var form = document.getElementById('scene-move-form');
    form.action = '/scene/move/{{ selected_sceneitem.pk }}/' + offset;
    form.submit();
    return false;
}
</script>

{% endblock %}

{############################################################################}

{% block content %}

<div class="container-fluid x-scene x-back">

    <div class="row full-height">

        {#--right side details--#}
        <div class="col-xs-12 col-sm-push-6 col-sm-6 full-height">
          <div class="full-height" style="overflow-y:auto; margin-bottom:16px;">
            <div class="x-sceneitem x-item-form">

                {% if selected_sceneitem %}


                    <form id="scene-editor-form" class="form-horizontal" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="expected_updated_at" value="{{ expected_updated_at }}" />

                        <div id="editor-conflict-warning" class="alert alert-danger" style="{% if conflict_message %}{% else %}display:none;{% endif %}margin-bottom:8px;">
                            {% if conflict_message %}{{ conflict_message }}{% endif %}
                        </div>
                        <p id="editor-save-status" class="text-muted" style="margin:0 0 8px 0;"><small>Ready</small></p>

                        {#--note--#}
                        {% if selected_sceneitem.note %}
                            <div class="pull-left" style="max-width:12%;">
                                <img src="{% static 'img/note.png' %}" /><br/>
                                <small>{{ selected_sceneitem.note.author }}<br/>
                                {{ selected_sceneitem.note.created|date:"Y-m-d H:i" }}</small>
                            </div>
                            {% crispy formNote formNote.helper %}
                            <hr/>
                        {% endif %}

                        {#--buttons--#}
                        <div class="pull-left">
                        
                            <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/save.png' %}" alt="" /><br />{% trans "Save" %}
                            </button  >

                            <label class="checkbox-inline" style="margin-left:8px; font-size:11px;">
                                <input type="checkbox" name="force_save" value="1" /> Force overwrite
                            </label>

                            <div class="btn-group" role="group" style="margin-left:8px;" title="One-click breakdown">
                                <button style="padding:4px;" type="submit" name="btn_break_role" value="x" class="btn btn-default btn-xs" formmethod="post">
                                    <i class="fa fa-user"></i><br /><small>Role</small>
                                </button>
                                <button style="padding:4px;" type="submit" name="btn_break_prop" value="x" class="btn btn-default btn-xs" formmethod="post">
                                    <i class="fa fa-cube"></i><br /><small>Prop</small>
                                </button>
                                <button style="padding:4px;" type="submit" name="btn_break_sfx" value="x" class="btn btn-default btn-xs" formmethod="post">
                                    <i class="fa fa-bolt"></i><br /><small>SFX</small>
                                </button>
                            </div>

                        </div>
                
                        <div class="pull-right">

                            <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/reset.png' %}" alt="" /><br /><small>{% trans "Reset" %}</small>
                            </button  >


                            <div class="btn-group" role="group">
                                <button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                                <img height="32" width="32" src="{% static 'img/delete.png' %}" alt="" /><br />
	                                <small>{% trans "Delete" %}</small>
	                                <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu pull-right" style="margin-left:-100px;">
	                                <li><center>{% trans "Sure" %}</center></li>
	                                <li><center>{% trans "to" %}</center></li>
	                                <li><center>{% trans "delete?" %}</center></li>
	                                <li role="separator" class="divider"></li>
	                                <li><center>
                                        <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                                        <img height="16" width="16" src="{% static 'img/delete.png' %}" alt="" /> {% trans "Delete!" %}
                                        </button  >
                                    </center></li>
                                </ul>
                            </div>

			            </div>

                        &emsp;<br/>&emsp;<br/>&emsp;<br/>&emsp;<br/>

                        {#--model form content--#}
                        <div style="margin-top:0px;">
                        {% crispy form form.helper %}
                        </div>
                             
                    </form>

                {% else %}

                    {% blocktrans with count=sceneitems.count %}Scene Items: {{ count }}{% endblocktrans %}
                    <br />

                {% endif %}
            </div>
          </div>
        </div>

        {#--left side list--#}
        <div class="col-xs-12 col-sm-pull-6 col-sm-6 full-height">
            <div class="list-group full-height" style="overflow-y:auto">

                {% for sceneitem in sceneitems %}
			
                    <a href="/scene/{{sceneitem.pk}}"
                        {% if sceneitem == selected_sceneitem %} 
                            class="x-sceneitem list-group-item active" id="selected_scope"
                        {% else %} 
                            class="x-sceneitem list-group-item"
                        {% endif %}
                        {% if sceneitem.role %}
                            style="padding:8px; background-color:{{sceneitem.role.color}};" 
                        {% else %}
                            style="padding:8px;" 
                        {% endif %}
                        >

                        {% if sceneitem.type == 'A' %}
                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}

                        {% elif sceneitem.type == 'D' %}

                            <div style="margin-left:4em;">
                            {#--role--#}
                            {% if sceneitem.role %}
                                <strong style="margin-left:4em;">{{sceneitem.role}}</strong>
                            {% endif %}
                            {% if sceneitem.parenthetical %}
                                <span style="margin-left:1em;">({{sceneitem.parenthetical}})</span>
                            {% endif %}
                                <br/>

                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% elif sceneitem.type == 'N' %}

                            <div style="background-color:#FFFFA5;">
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% elif sceneitem.type == 'R' %}

                            <div style="">
                            {#--role--#}
                            {% if sceneitem.role %}
                                <strong style="">{{sceneitem.role}}</strong>
                            {% endif %}
                            {% if sceneitem.parenthetical %}
                                <span style="margin-left:1em;">({{sceneitem.parenthetical}})</span>
                            {% endif %}
                            {% if sceneitem.text %}
                                : {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            {% endif %}
                            </div>

                        {% elif sceneitem.type == 'T' %}

                            <div class="pull-right">
                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% else %}
                            ???
                        {% endif %}

                        {% comment %}
                        <br/>
                        <small>{{sceneitem.description|striptags|truncatewords:42}}</small>
                        <br/>
                        <small>{{sceneitem.description|truncatewords:15}}</small>
                        {% endcomment %}
                    </a>

                {% endfor %}

            </div>
        </div>


    </div> <!--row-->

</div>

{% endblock %}

{############################################################################}

{% block toolbar %}
{% load static %}

<div style="padding:0px; " class="navbar-collapse collapse">

<div class="nav container-fixed-top x-sceneitem x-toolbar" style="margin-top:0">

    <div class="nav navbar-header">
        <a style="margin:4px; padding:0;" class="navbar-text" href="/scene">
            <img src="{% static 'img/tab/scene-64.png' %}" />
        </a>
    </div>

    <select id="sceneselect" style="min-width:200px; max-width:400px; width:200px" class="chosen-select-single" data-placeholder="{% trans 'Select Scene' %}">
    {% for scene in scenes %}
        <option value="{{scene.pk}}" {% if scene == env.scene %}selected{% endif %}>{{scene.name}}</option>
    {% endfor %}
    </select>


    <div class="btn-group-vertical" role="group" style="margin-left:1%">
        <a href="/scene/tag/all" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectall.png' %}" alt="" /></a>
        <a href="/scene/tag/none" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectnone.png' %}" alt="" /></a>
    </div>

    <div class="btn-group btn-group-xs" role="group" style="margin-left:4px">

				
        {% for tag in tag_list %}
            <a href="/scene/tag/{{tag.idx}}" role="button" 
                   
                {% if tag.active %}
                    class="btn btn-primary navbar-btn" style="padding:4px" 
                {% else %}
                    class="btn btn-default navbar-btn" style="padding:4px;"
                {% endif %}
            >
            <img src="{% static tag.img %}" alt="" />
            <br />
            <font size="1">{{tag.name}}</font></a>
        {% endfor %}

                
				
	</div>

    {#--button new--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:2%">
        <div class="btn-group btn-group-xs" role="group" >
		    <button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			    <img height="32" width="32" src="{% static 'img/s/ins_b.png' %}" alt="" /><br />
			    <span class="caret"></span>
			    <small>{% trans "New" %}</small>
		    </button>
		    <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">{% trans "Insert before selected:" %}</li>
			    <li><a href="/scene/new/N/{{selected_sceneitem.pk}}/-1">{% trans "Note" %}</a></li>
			    <li><a href="/scene/new/A/{{selected_sceneitem.pk}}/-1">{% trans "Action" %}</a></li>
			    <li><a href="/scene/new/D/{{selected_sceneitem.pk}}/-1">{% trans "Dialog" %}</a></li>
			    <li><a href="/scene/new/T/{{selected_sceneitem.pk}}/-1">{% trans "Trans" %}</a></li>
			    <li><a href="/scene/new/R/{{selected_sceneitem.pk}}/-1">{% trans "Non-Speaking Role" %}</a></li>
		    </ul>
        </div>
        <div class="btn-group btn-group-xs" role="group" >
		    <button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			    <img height="32" width="32" src="{% static 'img/s/ins_a.png' %}" alt="" /><br />
			    <small>{% trans "New" %}</small>
			    <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">{% trans "Insert after selected:" %}</li>
			    <li><a href="/scene/new/N/{{selected_sceneitem.pk}}/1">{% trans "Note" %}</a></li>
			    <li><a href="/scene/new/A/{{selected_sceneitem.pk}}/1">{% trans "Action" %}</a></li>
			    <li><a href="/scene/new/D/{{selected_sceneitem.pk}}/1">{% trans "Dialog" %}</a></li>
			    <li><a href="/scene/new/T/{{selected_sceneitem.pk}}/1">{% trans "Trans" %}</a></li>
			    <li><a href="/scene/new/R/{{selected_sceneitem.pk}}/1">{% trans "Non-Speaking Role" %}</a></li>
		    </ul>
        </div>
    </div>

    {#--button move--#}
    <form id="scene-move-form" method="post" action="" style="display:none;">{% csrf_token %}</form>
    <div class="btn-group btn-group-xs" role="group" style="margin-left:1%">
		<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			<img height="32" width="32" src="{% static 'img/s/move.png' %}" alt="" /><br />
			<small>{% trans "Move" %}</small>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">{% trans "Confirm before move" %}</li>
            <li class="dropdown-header">{% trans "Before selected:" %}</li>
			<li><a href="#" onclick="return confirmSceneMove(-99999);">{% trans "First" %}</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-20);">-20</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-10);">-10</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-9);">-9</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-8);">-8</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-7);">-7</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-6);">-6</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-5);">-5</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-4);">-4</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-3);">-3</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-2);">-2</a></li>
			<li><a href="#" onclick="return confirmSceneMove(-1);">-1</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">{% trans "After selected:" %}</li>
			<li><a href="#" onclick="return confirmSceneMove(1);">1</a></li>
			<li><a href="#" onclick="return confirmSceneMove(2);">2</a></li>
			<li><a href="#" onclick="return confirmSceneMove(3);">3</a></li>
			<li><a href="#" onclick="return confirmSceneMove(4);">4</a></li>
			<li><a href="#" onclick="return confirmSceneMove(5);">5</a></li>
			<li><a href="#" onclick="return confirmSceneMove(6);">6</a></li>
			<li><a href="#" onclick="return confirmSceneMove(7);">7</a></li>
			<li><a href="#" onclick="return confirmSceneMove(8);">8</a></li>
			<li><a href="#" onclick="return confirmSceneMove(9);">9</a></li>
			<li><a href="#" onclick="return confirmSceneMove(10);">10</a></li>
			<li><a href="#" onclick="return confirmSceneMove(20);">20</a></li>
			<li><a href="#" onclick="return confirmSceneMove(99999);">{% trans "last" %}</a></li>
		</ul>
    </div>

    {% if can_undo_move %}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:4px">
        <form method="post" action="/scene/undo-move" style="display:inline;">
            {% csrf_token %}
            <button style="padding:4px;" type="submit" class="btn btn-warning navbar-btn">
                <img height="32" width="32" src="{% static 'img/reset.png' %}" /><br />
                <small>Undo Move</small>
            </button>
        </form>
    </div>
    {% endif %}


    {#--button Tool--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:2%">
		<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
			<img height="32" width="32" src="{% static 'img/tool.png' %}" alt="" /><br />
			<small>{% trans "Tool" %}</small>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
            {% if selected_sceneitem %}
            <li class="dropdown-header">{% trans "Selected Item:" %}</li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
            <li role="separator" class="divider"></li>
            {% endif %}
            <li class="dropdown-header">{% trans "All Items:" %}</li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
		</ul>
    </div>

	<div class="navbar-right" role="group" style="margin-right:8px;">

		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/report.png' %}" alt="" /><br />
				<small>{% trans "Item" %}</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>

		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/report.png' %}" alt="" /><br />
				<small>{% trans "List" %}</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/test" target="_blank">{% trans "Script TEST" %}</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>
		
		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/matrix.png' %}" alt="" /><br />
				<small>{% trans "Matrix" %}</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>

	</div>


</div>
</div>
{% endblock %}

{############################################################################}

{% block mobile-toolbar %}
    
    <a style="padding:8px; margin:0px" class="navbar-text" href="/scene"><img src="{% static 'img/tab/scene-24.png' %}" /></a>

    <a href="/scene/0" role="button" class="btn btn-default navbar-btn btn-xs" style="margin:0; padding:4px;"><small>{% trans "New" %}</small></a>

{% endblock %}
                
{############################################################################}
