{% extends "X/layout_X.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{############################################################################}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'X/css/bootstrap-slider.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'X/css/x.css' %}" media="all" />
<script src="{% static 'X/scripts/bootstrap-slider.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

    $('#sceneselect').on('change', function (evt, params) {
        // can now use params.selected and params.deselected
        //alert("evt: " + evt + "\nparams: " + params.selected);
        window.location.href = "/scene/set/" + params.selected;
    });

    //$("#sceneselect").chosen().change(function () {
    //    alert(+$(this).val());
    //    console.log('select2 change', event, $(event.target).val());
    //    //$('#' + $(this).val()).show();
    //});

    //console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');
    });
</script>

{% endblock %}

{############################################################################}

{% block content %}

<div class="container-fluid x-scene x-back" style="height:100%; width:100%;">

    <div id="abc" class="row" style="height:100%;">

        {#--left side list--#}
        <div class="col-xs-6 col-md-6" style="height:100%;" >
            <div class="list-group" style="height:100%; overflow-y:auto">

                {% for sceneitem in sceneitems %}
			
                    <a href="/scene/{{sceneitem.pk}}"
                        {% if sceneitem.id == active_id %} 
                            class="x-sceneitem list-group-item active" id="active_scope"
                        {% else %} 
                            class="x-sceneitem list-group-item"
                        {% endif %}
                        {% if sceneitem.role %}
                            style="padding:8px; background-color:{{sceneitem.role.color}};" 
                        {% else %}
                            style="padding:8px;" 
                        {% endif %}
                        >

                        {% if sceneitem.type == 'A' %}
                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}

                        {% elif sceneitem.type == 'D' %}

                            <div style="margin-left:4em;">
                            {#--role--#}
                            {% if sceneitem.role %}
                                <strong style="margin-left:4em;">{{sceneitem.role}}</strong>
                            {% endif %}
                            {% if sceneitem.parenthetical %}
                                <span style="margin-left:1em;">({{sceneitem.parenthetical}})</span>
                            {% endif %}
                                <br/>

                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% else %}
                            ???
                        {% endif %}

                        {% comment %}
                        <br/>
                        <small>{{sceneitem.description|striptags|truncatewords:42}}</small>
                        <br/>
                        <small>{{sceneitem.description|truncatewords:15}}</small>
                        {% endcomment %}
                    </a>

                {% endfor %}

            </div>
        </div>

        {#--right side details--#}
        <div class="col-xs-6 col-md-6" style="height:100%; overflow-y:auto; padding:0">
            <div class="x-sceneitem x-item-form">

                {% if active_sceneitem %}


                    <form class="form-horizontal" method="post">

                        {#--note--#}
                        {% if active_sceneitem.note %}
                            <div class="pull-left" style="max-width:12%;">
                                <img src="{% static 'img/note.png' %}" /><br/>
                                <small>{{ active_sceneitem.note.author }}<br/>
                                {{ active_sceneitem.note.created|date:"Y-m-d H:i" }}</small>
                            </div>
                            {% crispy formNote formNote.helper %}
                            <hr/>
                        {% endif %}

                        {#--buttons--#}
                        <div class="pull-left">
                        
                            <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/save.png' %}" /><br />Save
                            </button  >

                        </div>
                
                        <div class="pull-right">

                            <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/reset.png' %}" /><br /><small>Reset</small>
                            </button  >


                            <div class="btn-group" role="group">
                                <button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                                <img height="32" width="32" src="{% static 'img/delete.png' %}" /><br />
	                                <small>Delete</small>
	                                <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu pull-right" style="margin-left:-100px;">
	                                <li><center>Sure</center></li>
	                                <li><center>to</center></li>
	                                <li><center>delete?</center></li>
	                                <li role="separator" class="divider"></li>
	                                <li><center>
                                        <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                                        <img height="16" width="16" src="{% static 'img/delete.png' %}" /> Delete!
                                        </button  >
                                    </center></li>
                                </ul>
                            </div>

			            </div>

                        &emsp;<br/>&emsp;<br/>&emsp;<br/>

                        {#--model form content--#}
                        {% crispy form form.helper %}
         
                    </form>

                {% else %}

                    Scene Items: {{ sceneitems.count }}
                    <br />

                {% endif %}
            </div>
        </div>

    </div> <!--row-->

</div>

{% endblock %}

{############################################################################}

{% block toolbar %}
{% load staticfiles %}

<div class="nav container-fixed-top x-sceneitem x-toolbar" style="margin-top:0">

    <div class="nav navbar-header">
        <a style="margin:4px; padding:0;" class="navbar-text" href="/scene">
            <img src="{% static 'img/tab/scene-64.png' %}" />
        </a>
    </div>

    <select id="sceneselect" class="chosen-select" data-placeholder="Select Your Options">
    {% for scene in scenes %}
        <option value="{{scene.pk}}" {% if scene == env.scene %}selected{% endif %}>{{scene.name}}</option>
    {% endfor %}
    </select>


    <div class="btn-group-vertical" role="group" style="margin-left:16px">
        <a href="/scene/tag/all" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectall.png' %}" /></a>
        <a href="/scene/tag/none" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectnone.png' %}" /></a>
    </div>

    <div class="btn-group btn-group-xs" role="group" style="margin-left:4px">

				
        {% for tag in tag_list %}
            <a href="/scene/tag/{{tag.idx}}" role="button" 
                   
                {% if tag.active %}
                    class="btn btn-primary navbar-btn" style="padding:4px" 
                {% else %}
                    class="btn btn-default navbar-btn" style="padding:4px;"
                {% endif %}
            >
            <img src="{% static tag.img %}" />
            <br />
            <font size="1">{{tag.name}}</font></a>
        {% endfor %}

                
				
	</div>

    {#--button new--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:32px">
        <a href="/scene/0" role="button" 
            class="btn btn-default navbar-btn" style="padding:4px" 
            >
            <img height="32" width="32" src="{% static 'img/files.png' %}" />
            <br />
            <small>New</small>
        </a>
    </div>



</div>
{% endblock %}

{############################################################################}
