{% extends "X/layout_X.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{############################################################################}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'X/css/bootstrap-slider.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'X/css/x.css' %}" media="all" />
<script src="{% static 'X/scripts/bootstrap-slider.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

    $('#sceneselect').on('change', function (evt, params) {
        // can now use params.selected and params.deselected
        window.location.href = "/scene/set/" + params.selected;
    });

    $("#sceneselect_chosen").css('width', '20%');
    //$("#sceneselect_chosen").width(200);

    });
</script>

{% endblock %}

{############################################################################}

{% block content %}

<div class="container-fluid x-scene x-back">

    <div class="row full-height">

        {#--right side details--#}
        <div class="col-xs-12 col-sm-push-6 col-sm-6 full-height">
          <div class="full-height" style="overflow-y:auto; margin-bottom:16px;">
            <div class="x-sceneitem x-item-form">

                {% if selected_sceneitem %}


                    <form class="form-horizontal" method="post">

                        {#--note--#}
                        {% if selected_sceneitem.note %}
                            <div class="pull-left" style="max-width:12%;">
                                <img src="{% static 'img/note.png' %}" /><br/>
                                <small>{{ selected_sceneitem.note.author }}<br/>
                                {{ selected_sceneitem.note.created|date:"Y-m-d H:i" }}</small>
                            </div>
                            {% crispy formNote formNote.helper %}
                            <hr/>
                        {% endif %}

                        {#--buttons--#}
                        <div class="pull-left">
                        
                            <button style="padding:4px;" type="submit" name="btn_save" value="x" class="btn btn-success btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/save.png' %}" /><br />Save
                            </button  >

                        </div>
                
                        <div class="pull-right">

                            <button style="padding:4px;" type="reset" class="btn btn-default btn-xs" formmethod="post">
                            <img height="32" width="32" src="{% static 'img/reset.png' %}" /><br /><small>Reset</small>
                            </button  >


                            <div class="btn-group" role="group">
                                <button style="padding:4px;" type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                                <img height="32" width="32" src="{% static 'img/delete.png' %}" /><br />
	                                <small>Delete</small>
	                                <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu pull-right" style="margin-left:-100px;">
	                                <li><center>Sure</center></li>
	                                <li><center>to</center></li>
	                                <li><center>delete?</center></li>
	                                <li role="separator" class="divider"></li>
	                                <li><center>
                                        <button style="padding:4px; margin-top:0px;" type="submit" name="btn_delete" value="x" class="btn btn-danger btn-xs" formmethod="post">
                                        <img height="16" width="16" src="{% static 'img/delete.png' %}" /> Delete!
                                        </button  >
                                    </center></li>
                                </ul>
                            </div>

			            </div>

                        &emsp;<br/>&emsp;<br/>&emsp;<br/>&emsp;<br/>

                        {#--model form content--#}
                        <div style="margin-top:0px;">
                        {% crispy form form.helper %}
                        </div>
                             
                    </form>

                {% else %}

                    Scene Items: {{ sceneitems.count }}
                    <br />

                {% endif %}
            </div>
          </div>
        </div>

        {#--left side list--#}
        <div class="col-xs-12 col-sm-pull-6 col-sm-6 full-height">
            <div class="list-group full-height" style="overflow-y:auto">

                {% for sceneitem in sceneitems %}
			
                    <a href="/scene/{{sceneitem.pk}}"
                        {% if sceneitem == selected_sceneitem %} 
                            class="x-sceneitem list-group-item active" id="selected_scope"
                        {% else %} 
                            class="x-sceneitem list-group-item"
                        {% endif %}
                        {% if sceneitem.role %}
                            style="padding:8px; background-color:{{sceneitem.role.color}};" 
                        {% else %}
                            style="padding:8px;" 
                        {% endif %}
                        >

                        {% if sceneitem.type == 'A' %}
                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}

                        {% elif sceneitem.type == 'D' %}

                            <div style="margin-left:4em;">
                            {#--role--#}
                            {% if sceneitem.role %}
                                <strong style="margin-left:4em;">{{sceneitem.role}}</strong>
                            {% endif %}
                            {% if sceneitem.parenthetical %}
                                <span style="margin-left:1em;">({{sceneitem.parenthetical}})</span>
                            {% endif %}
                                <br/>

                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% elif sceneitem.type == 'N' %}

                            <div style="background-color:palegoldenrod;">
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% elif sceneitem.type == 'R' %}

                            <div style="">
                            {#--role--#}
                            {% if sceneitem.role %}
                                <strong style="">{{sceneitem.role}}</strong>
                            {% endif %}
                            {% if sceneitem.parenthetical %}
                                <span style="margin-left:1em;">({{sceneitem.parenthetical}})</span>
                            {% endif %}
                            {% if sceneitem.text %}
                                : {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            {% endif %}
                            </div>

                        {% elif sceneitem.type == 'T' %}

                            <div class="pull-right">
                            {#--description--#}
                            {% autoescape off %}{{sceneitem.text|removetags:"a span"}}{% endautoescape %}
                            </div>

                        {% else %}
                            ???
                        {% endif %}

                        {% comment %}
                        <br/>
                        <small>{{sceneitem.description|striptags|truncatewords:42}}</small>
                        <br/>
                        <small>{{sceneitem.description|truncatewords:15}}</small>
                        {% endcomment %}
                    </a>

                {% endfor %}

            </div>
        </div>


    </div> <!--row-->

</div>

{% endblock %}

{############################################################################}

{% block toolbar %}
{% load staticfiles %}

<div style="padding:0px; " class="navbar-collapse collapse">

<div class="nav container-fixed-top x-sceneitem x-toolbar" style="margin-top:0">

    <div class="nav navbar-header">
        <a style="margin:4px; padding:0;" class="navbar-text" href="/scene">
            <img src="{% static 'img/tab/scene-64.png' %}" />
        </a>
    </div>

    <select id="sceneselect" style="min-width:200px; max-width:400px; width:200px" class="chosen-select" data-placeholder="Select Scene">
    {% for scene in scenes %}
        <option value="{{scene.pk}}" {% if scene == env.scene %}selected{% endif %}>{{scene.name}}</option>
    {% endfor %}
    </select>


    <div class="btn-group-vertical" role="group" style="margin-left:1%">
        <a href="/scene/tag/all" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectall.png' %}" /></a>
        <a href="/scene/tag/none" style="padding:4px;margin:0" role="button" class="btn btn-default navbar-btn"><img height="16" width="16" src="{% static 'img/tab/common/selectnone.png' %}" /></a>
    </div>

    <div class="btn-group btn-group-xs" role="group" style="margin-left:4px">

				
        {% for tag in tag_list %}
            <a href="/scene/tag/{{tag.idx}}" role="button" 
                   
                {% if tag.active %}
                    class="btn btn-primary navbar-btn" style="padding:4px" 
                {% else %}
                    class="btn btn-default navbar-btn" style="padding:4px;"
                {% endif %}
            >
            <img src="{% static tag.img %}" />
            <br />
            <font size="1">{{tag.name}}</font></a>
        {% endfor %}

                
				
	</div>

    {#--button new--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:2%">
        <div class="btn-group btn-group-xs" role="group" >
		    <button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			    <img height="32" width="32" src="{% static 'img/s/ins_b.png' %}" /><br />
			    <span class="caret"></span>
			    <small>New</small>
		    </button>
		    <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Inser befor selected:</li>
			    <li><a href="/scene/new/N/{{selected_sceneitem.pk}}/-1">Note</a></li>
			    <li><a href="/scene/new/A/{{selected_sceneitem.pk}}/-1">Action</a></li>
			    <li><a href="/scene/new/D/{{selected_sceneitem.pk}}/-1">Dialog</a></li>
			    <li><a href="/scene/new/T/{{selected_sceneitem.pk}}/-1">Trans</a></li>
			    <li><a href="/scene/new/R/{{selected_sceneitem.pk}}/-1">Non-Speaking Role</a></li>
		    </ul>
        </div>
        <div class="btn-group btn-group-xs" role="group" >
		    <button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			    <img height="32" width="32" src="{% static 'img/s/ins_a.png' %}" /><br />
			    <small>New</small>
			    <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Inser after selected:</li>
			    <li><a href="/scene/new/N/{{selected_sceneitem.pk}}/1">Note</a></li>
			    <li><a href="/scene/new/A/{{selected_sceneitem.pk}}/1">Action</a></li>
			    <li><a href="/scene/new/D/{{selected_sceneitem.pk}}/1">Dialog</a></li>
			    <li><a href="/scene/new/T/{{selected_sceneitem.pk}}/1">Trans</a></li>
			    <li><a href="/scene/new/R/{{selected_sceneitem.pk}}/1">Non-Speaking Role</a></li>
		    </ul>
        </div>
    </div>

    {#--button move--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:1%">
		<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" {% if not selected_sceneitem %}disabled{% endif %}>
			<img height="32" width="32" src="{% static 'img/s/move.png' %}" /><br />
			<small>Move</small>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Befor selected:</li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-99999">First</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-20">-20</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-10">-10</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-9">-9</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-8">-8</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-7">-7</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-6">-6</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-5">-5</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-4">-4</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-3">-3</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-2">-2</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/-1">-1</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">After selected:</li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/1">1</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/2">2</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/3">3</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/4">4</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/5">5</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/6">6</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/7">7</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/8">8</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/9">9</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/10">10</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/20">20</a></li>
			<li><a href="/scene/move/{{selected_sceneitem.pk}}/99999">last</a></li>
		</ul>
    </div>


    {#--button Tool--#}
    <div class="btn-group btn-group-xs" role="group" style="margin-left:2%">
		<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
			<img height="32" width="32" src="{% static 'img/tool.png' %}" /><br />
			<small>Tool</small>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
            {% if selected_sceneitem %}
            <li class="dropdown-header">Selected Item:</li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
            <li role="separator" class="divider"></li>
            {% endif %}
            <li class="dropdown-header">All Items:</li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
			<li><a href="#">BlaBla</a></li>
		</ul>
    </div>

	<div class="navbar-right" role="group" style="margin-right:8px;">

		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/report.png' %}" /><br />
				<small>Item</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>

		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/report.png' %}" /><br />
				<small>List</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/test" target="_blank">Script TEST</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>
		
		<div class="btn-group btn-group-xs" role="group" style="">
			<button style="padding:4px;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
				<img height="32" width="32" src="{% static 'img/matrix.png' %}" /><br />
				<small>Matrix</small>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
				<li><a href="#">*TEST*</a></li>
			</ul>
		</div>

	</div>


</div>
</div>
{% endblock %}

{############################################################################}

{% block mobile-toolbar %}
    
    <a style="padding:8px; margin:0px" class="navbar-text" href="/scene"><img src="{% static 'img/tab/scene-24.png' %}" /></a>

    <a href="/scene/0" role="button" class="btn btn-default navbar-btn btn-xs" style="margin:0; padding:4px;"><small>New</small></a>

{% endblock %}
                
{############################################################################}
