<div class="form-group" style="margin-top:-16px">
	<label for="slider_indentation" class="col-sm-2 control-label" style="margin-top:-8px">Indentation</label>
	<div class="col-sm-10">
		<input type="number" class="form-control" id="slider_indentation" name="indentation" placeholder="Lorem" value="{{form.indentation.value}}" 
            data-provide="slider"
            data-slider-id="slider_indentation"
            data-slider-handle="square"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="5"
            data-slider-value="{{form.indentation.value}}"
            {#data-slider-tooltip="hide"#}
            >
	</div>
</div>